.add-todo {
    display: flex;
    justify-content: center;
}
.add-todo > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 1em 0 1em 0;
}

.add-todo-button {
    width: 6em;
    background-color: salmon;
    box-shadow: 5px 5px darkslategray;
    margin-top: 1em;
    color: white;
}

.todo-input {
    border: 1px solid gray;
    border-radius: 5px;
}