.kanban {
    display: flex;
    flex-direction: column;
    width: 40%;
    color: darkslategray;
    box-shadow: 7px 7px darkslategray;
    background-color: white;
    border: 1px solid;
}

.chart {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.kanban > button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: auto;
    color: white;
    background-color: salmon;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kanban-item {
    cursor: pointer;
}

.kanban-section > h3 {
    color: salmon;
    text-decoration: underline;
}
