@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');


.kanban {
    display: flex;
    flex-direction: column;
    width: 40%;
    color: darkslategray;
    box-shadow: 7px 7px darkslategray;
    background-color: white;
    border: 1px solid;
    cursor: grab;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.5em;
    border-radius: 20px;
}

.chart {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.kanban-item {
    cursor: pointer;
    margin: 0px 0px;
    font-family: 'Work Sans', sans-serif;
}

.kanban-section > h3 {
    color: salmon;
    text-decoration: underline;
    font-family: 'Work Sans', sans-serif;
}

.kanban-section{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 5px;
}


.move-section {
    margin-top: auto;
    display: flex;
    justify-content: center;
    gap: 5px;
}