.home {
  min-width: 100vw;
  height: 100vh;
  overflow: hidden;
}

footer {
    position: absolute;
    bottom: 5vh;
    height: 2.5rem;
    width: 100%;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
    z-index: 1;
}
  
button {
  font-family: groovy, sans-serif;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
  
.quote-button {
  font-size: 2rem;
  padding-top: 15px;
  padding-right: 15px;
  color: darkslategray;
  cursor: pointer;
}
  
.quote-div {
  display: flex;
  flex-direction: row-reverse;
}