@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

.music-player {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 10px 10px darkslategray;
    width: 20%;
    font-family: 'Work Sans', sans-serif;
    cursor: grab;
    border-radius: 20px;
    padding: 3vw;
}

.play-button {
    cursor: pointer;
}

input {
    border-radius: 8px;
    height: 1vh;
    width: 80%;
    -webkit-appearance: none;
  }
  
  input::-webkit-slider-thumb {
    background-color: darkslategray;
    height: 2vh;
    width: 2vh;
    border-radius: 50%;
    -webkit-appearance: none;
  }

.song-image {
    width: 60%;
    height: auto;
    border-radius: 50%;
}

.song-title {
    margin-bottom: 0px;
    color: darkslategray;
    font-size: 2vw;
}

.artist {
    margin-top: 0px;
    color: #444444;
    font-size: 1vw;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 20%;
    color: darkslategray;
    margin-top: 1vw;
    font-size: 2vw;
}