@font-face {
  font-family: groovy;
  src: url(./Fonts/KeeponTruckin.ttf);
}


.App {
  text-align: center;
  font-family: groovy, sans-serif;
  height: 100vh;
  width: 100%;
  background-color: ivory;
  background-size: cover;
  max-width: 100vw;
}
